{% extends "base.html" %}

{%block title %}
Logs
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Delete Log</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/log-del/{{ log.id }}">
        <div class="mb-3">
          <label for="log_type" class="form-label fw-bold">Log Type</label>
          <input type="text" class="form-control" name="log_type" id="log_type" value="{{ log.log_type }}" readonly>
        </div>
        <div class="mb-3">
          <label for="data" class="form-label fw-bold">Data</label>
          <textarea name="data" id="data" class="form-control" readonly>{{ log.data }}</textarea>
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ log.id }}">
          <a class="btn btn-sm btn-secondary" role="button" href="/log-list">
            Back</a>
          <button type="submit" class="btn btn-sm btn-danger">Delete Log</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}