{% extends "base.html" %}

{%block title %}
Update User
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Update User</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/user-edit/{{ data.id }}">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" value="{{ data.email }}" readonly>
        </div>
        <div class=" mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" id="first_name" value="{{ data.first_name }}">
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" value="{{ data.last_name }}">
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select class="form-control" name="role">
            <option value="admin" {{ "selected" if data.role=="admin" }}>Admin</option>
            <option value="user" {{ "selected" if data.role=="user" }}>User</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter Password" value="">
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Password (Confirm)</label>
          <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password" value="">
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/user-list">
            Back</a>
          <input type="hidden" class="form-control" name="userId" id="userId" value="{{ data.id }}">
          <button type="submit" class="btn btn-sm btn-primary">Update User</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}