{% extends "base.html" %}

{%block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Home</strong>
    </div>
    <div class="card-body ">
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio obcaecati blanditiis veniam delectus alias inventore voluptate deleniti perferendis reiciendis, eveniet, hic excepturi repudiandae dolorum, atque natus vitae dolores possimus! Blanditiis, fugiat! Officia consequuntur quae repellat laudantium. Amet nihil vero reprehenderit consectetur. Iure, error! Possimus iure ratione beatae blanditiis provident hic alias iusto impedit cumque quisquam reprehenderit maiores veritatis eveniet, nisi laudantium illum minus aliquid perferendis. Quasi beatae maiores exercitationem provident debitis velit quos culpa magnam, fugit cupiditate similique vero doloribus qui voluptates et adipisci. Pariatur unde, quod, vel iusto culpa voluptatibus, quaerat incidunt eveniet dolor aspernatur assumenda aliquam deleniti voluptatem.</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum tempore dolore quam accusamus asperiores aut animi. Suscipit qui repellat odio at minima quasi praesentium, perferendis quis amet voluptatum ratione earum nam, pariatur nihil eaque aliquam maxime debitis explicabo quisquam neque fugit quaerat ab quia sapiente. Sint iure, veniam minima exercitationem id amet tempora nam pariatur ad dolore praesentium culpa voluptatibus quas eos, dignissimos autem quia laborum officiis. Nesciunt aliquid consequatur dolores, possimus eius non veritatis perferendis voluptas molestiae labore quae, repellendus ullam magni corporis ipsum blanditiis officia voluptatem in dignissimos dolor quod! Dicta sequi quas corporis debitis et voluptates illum ullam. Sequi quae tempora placeat nisi! Repellat aliquid voluptas amet, aut nemo sint provident tenetur quasi qui, dolor obcaecati optio?</div>
    </div>
  </div>
</div>
{% endblock%}